body {
    padding: 40px;
    margin: 0;
    font-family: "Fira Code", sans-serif;
    color: #001F24;
}

table {
    width: 100%;
    border: 1px solid #001F24;
    border-collapse: collapse;
}

table th,
table td {
    border: 1px solid #001F24;

}

table td {
    padding: 10px;
}

table td img {
    width: 200px;
}

table td button,
.btn-add {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    color: white;
    font-size: 16px;
    border-radius: 8px;
}

table td button:hover {
    cursor: pointer;
}

table .btn-edit {
    border-color: #FFB300;
    background: #FFB300;
}

table .btn-delete {
    border-color: #d61b06;
    background: #d61b06;
}

table .actions {
    width: 200px;
}

table .actions .btn-group {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.btn-add {
    background: darkgreen;
    max-width: 200px;
    text-decoration: none;
}